.nitro-notification-center-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: calc(100% - #{$toolbar-height});
    z-index: $notification-center-zindex;
    pointer-events: none;

    .nitro-notification-center {
        background-color: $dark;
        height: 100%;
        pointer-events: all;
    }
}

.notification-bubble-text {
    font-family: Goldfish;
    font-size: 9px;
}

.nitro-alert {
    min-height: 166px;
    max-height: 350px;

    .flashui-logo {
        background: url('@/assets/flash/flashui_logo.png');
        width: 118px;
        height: 38px;
        background-position: center;
    }

    .notification-frank {
        background-image: url('@/assets/images/notifications/frank.gif');
        width: 47px;
        height: 85px;
    }

    .notification-text {
        min-width: 250px;
    }

    &.nitro-alert-default {
        width: 366px;
        .notification-text {
            min-width: auto;
        }
    }

    &.nitro-alert-motd {
        width: 350px;
        max-height: none;
        overflow: visible!important;
        .notification-text {
            min-width: auto;
        }
    }

    &.nitro-alert-moderation,
    &.nitro-alert-alert {
        width: 300px;
        .notification-text {
            min-width: 225px;
        }
    }
}

.nitro-notification-bubble {
    pointer-events: all;
    padding: 6px 5px;
    border-image-source: url('@/assets/flash/infostand/info_bg.png');
    border-image-slice: 6 6 6 6 fill;
    border-image-width: 6px 6px 6px 6px;
    font-size: $font-size-sm;
    padding-right: 3px;
    padding-left: 0px;
    padding-top: 0px;

    .bubble-image-container {
        width: 50px;
        min-height: 50px;
    }

    .grouproom-header {
        border-radius: 10px 10px 0px 0px;
        position: relative;

        .arrow-down {
            background: url('@/assets/flash/notifications/notification_arrow_down.png');
            width: 18px;
            height: 19px;
            position: absolute;
            right: 5px;
        }

        .arrow-left {
            background: url('@/assets/flash/notifications/notification_arrow_left.png');
            width: 18px;
            height: 19px;
            position: absolute;
            right: 5px;
        }

        .header-text {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.nitro-group-bubble {
    pointer-events: all;
    padding: 2px 5px;
    border-image-source: url('@/assets/flash/notifications/notifications_bg2.png');
    border-image-slice: 29 9 9 9 fill;
    border-image-width: 29px 9px 9px 9px;
    font-size: $font-size-sm;
    padding-right: 3px;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 1px;
    margin-right: -2px;

    .bubble-image-container {
        width: 50px;
        min-height: 50px;
    }

    .grouproom-header {
        height: 22px;

        .arrow-down {
            background: url('@/assets/flash/notifications/notification_arrow_down.png');
            width: 18px;
            height: 19px;
            position: absolute;
            right: 3px;
        }

        .arrow-left {
            background: url('@/assets/flash/notifications/notification_arrow_left.png');
            width: 18px;
            height: 19px;
            position: absolute;
            right: 3px;
        }

        .header-text {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.nitro-alert-ambassador.alert.warning {
    max-width: 300px;
}

.nitro-group-bubble-closed {
    pointer-events: all;
    padding: 2px 5px;
    border-image-source: url('@/assets/flash/notifications/notifications_bg.png');
    border-image-slice: 9 9 9 9 fill;
    border-image-width: 9px 9px 9px 9px;
    font-size: $font-size-sm;
    padding-right: 3px;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 1px;
    margin-right: -2px;

    .bubble-image-container {
        width: 50px;
        min-height: 50px;
    }

    .grouproom-header-open {
        height: 23px;
        top: -1px;
        position: relative;

        .arrow-down {
            background: url('@/assets/flash/notifications/notification_arrow_down.png');
            width: 18px;
            height: 19px;
            position: absolute;
            right: 2px;
            top: 3px
        }

        .arrow-left {
            background: url('@/assets/flash/notifications/notification_arrow_left.png');
            width: 18px;
            height: 19px;
            position: absolute;
            right: 2px;
            top: 3px
        }

        .header-text {
            margin-right: auto;
            margin-left: auto;
        }
    }
}
.notification-avatar-container {
    width: 59px;
    min-width: 59px;
    height: 106px;
}

.notification-cropped-position {
    width: 100%!important;
    height: 100%!important;;
    background-position-x: center!important;;
    background-position-y: top!important;;
}

.info-image {
    position: relative;
    background: url('@/assets/images/navigator/icons/info.png');
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;

    .info-information {
        display: none;
    }

    &:hover {
        .info-information {
            display: block;
        }
    }

    .info-information {
        position: fixed;
        pointer-events: none;
        user-select: none;
        width: max-content;
        max-width: 210px;
        height: fit-content;
        border-image-source: url('@/assets/flash/infostand/badge_info_bg.png');
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
        z-index: 100;
        font-size: 9px;
        z-index: 9999;
        word-wrap: break-word;
        white-space: normal;
    }

    .info-desc {
        font-family: Goldfish;
    }
}

.command-resize {
    resize: vertical!important;
    height: 500px;
    max-height: none;
    min-height: 300px;
}

.info-search-container {
    border-image-slice:6 6 6 6 fill;
    border-image-width:6px 6px 6px 6px;
    border-image-repeat:repeat repeat;
    border-image-source: url('@/assets/flash/boxes/card/filter_bg.png')!important;
    background: transparent;
    padding: 8px;
}

.command-text-position {
    padding-left: 5px
}
.command-search {
    font-size: .875em!important;
    height: 18px!important;
}