.nitro-inventory {
    width: $inventory-width;
    height: $inventory-height;
    min-width: 430px;
    min-height: 325px;
    color: #000;

    input {
        min-height: 20px;
        max-height: 20px;
    }

    &.trading {
        width: 535px;
        min-height: 505px;

        .trading-inventory {
            height: 200px;
        }
    }

    .empty-image {
        background: url('@/assets/images/inventory/empty.png');
        width: 129px;
        height: 181px;
    }

    .trade-button {
        min-height: 0;
        font-size: 8px;
        padding: 1px 2px;
        z-index: 5;
    }

    .trade-bg {
        border-image-source: url('@/assets/flash/inventory/trading_bg.png');
        border-image-slice: 15 15 15 15 fill;
        border-image-width: 15px 15px 15px 15px;
    }

    .flash-inventory {
    padding-right: 6px;
    padding-bottom: 2px;
    }

    .button-width {
    width: 100%!important;
    }

}

.inventory-tab-padding {
    padding-left: 13px;
}

.inventory-furni-size {
    width: 100%;
    padding-right: 8px;
}

.inventory-preview-size {
    min-width: 209px;
    width: 209px;
}

.inventory-preview-size2 {
    min-width: 165px;
    width: 165px;
}

.badge-name-text {
    overflow: hidden;
    text-overflow: ellipsis;
}
.clear-button {
    right: 230px;
    top: 81px;
    cursor: pointer;
}
.delete-icon {
    background: url('@/assets/flash/inventory/delete.png');
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
}
.favorite-button {
    top: -5px;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    left: 0px;
}
