.nitropedia {
    width: $nitropedia-width;
    height: $nitropedia-height;
    min-height: 300px;
    min-width: 300px;

    h1 {
        font-family: ubuntuBold;
        font-size: 23px;
        color: #fc6204;
    }

    h2 {
        font-family: ubuntuBold;
        font-size: 18px;
        color: #fc6204;
    }

    h3 {
        font-family: ubuntuBold;
        font-size: 15px;
        color: #fc6204;
    }

    p {
        font-size: 12.5px;
    }

    b {
        font-family: ubuntuBold;
        font-weight: 100!important;
    }

    a {
        font-family: ubuntuBold;
        color: #fc6204;
        text-decoration: underline;
    }

    .bullet-item {
        margin-left: 7px;
        text-indent: -7px;
    }

    .padding-top {
        font-size: 1px;
        line-height: 10px;
    }

    .padding-bottom {
        font-size: 1px;
        line-height: 5px;
    }
}
