.nitro-purse-container {
    font-size: $font-size-sm;
    pointer-events: all;
    font-size: 12px;

    .nitro-purse-box {
        height: 30px;
        width: 100px;

        .nitro-purse-amount {
            padding-right: 33px;
        }

        .nitro-purse-box-container {
            border-image-slice: 6 6 6 6 fill;
            border-image-width: 6px 6px 6px 6px;
            top: 0px;
            right: 0px;
            height: 100%;
            padding: 7px;
        }

        .coin {
            border-image-source: url('@/assets/flash/purse/seasonal_bg_coin.png');
        }

        .pixel {
            border-image-source: url('@/assets/flash/purse/seasonal_bg_pixel.png');
        }

        .hc {
            border-image-source: url('@/assets/flash/purse/seasonal_bg_hc.png');
        }

        .diamond {
            border-image-source: url('@/assets/flash/purse/seasonal_bg_diamond.png');
        }
    }

    .nitro-purse {

        .club-text {

            color: #ffffff;

            &:hover {
                filter: brightness(150%);
            }
        }

        .nitro-purse-subscription {
            border-image-source: url('@/assets/flash/purse/hc_bg.png');
            border-image-slice: 7 7 7 7 fill;
            border-image-width: 7px 7px 7px 7px;
        }

        .nitro-purse-right-button {
            border-image-slice: 4 4 4 4 fill;
            border-image-width: 4px 4px 4px 4px;
            width: 60px;
            height: 20px;
        }
    }
    .nitro-purse-right-button.help {
      border-image-source: url('@/assets/flash/purse/help_button.png');
      &:hover {
        border-image-source: url('@/assets/flash/purse/help_button_hover.png');
      }
      &:active {
        border-image-source: url('@/assets/flash/purse/help_button_active.png');
      }
    }

    .nitro-purse-right-button.disconnect {
      border-image-source: url('@/assets/flash/purse/disconnect_button.png');
      &:hover {
        border-image-source: url('@/assets/flash/purse/disconnect_button_hover.png');
      }
      &:active {
        border-image-source: url('@/assets/flash/purse/disconnect_button_active.png');
      }
    }

    .nitro-purse-right-button.settings {
      border-image-source: url('@/assets/flash/purse/settings_button.png');
      &:hover {
        border-image-source: url('@/assets/flash/purse/settings_button_hover.png');
      }
      &:active {
        border-image-source: url('@/assets/flash/purse/settings_button_active.png');
      }
    }
    .nitro-purse-seasonal-currency {

        height: 30px;

        .seasonal-padding {
            padding: 7px;
        }

        .seasonal-bold {
            padding-right: 3px;
        }

        .seasonal-amount {
            padding-top: 7px;
            padding-bottom: 7px;
            padding-right: 3px;
            width: 90px;
        }

        .nitro-seasonal-box {
            border-image-slice: 6 6 6 6 fill;
            border-image-width: 6px 6px 6px 6px;
            top: 0px;
            right: 0px;
            height: 100%;
        }

        &.purple {

            .nitro-seasonal-box{
                border-image-source: url('@/assets/flash/purse/seasonal_bg_purple.png');
            }

            .seasonal-bold {
                color: #b17fbe;
            }
        }

        &.bronze {

            .nitro-seasonal-box{
                border-image-source: url('@/assets/flash/purse/seasonal_bg_bronze.png');
            }

            .seasonal-bold {
                color: #d4943c;
            }
        }

        &.pink {

            .nitro-seasonal-box{
                border-image-source: url('@/assets/flash/purse/seasonal_bg_pink.png');
            }

            .seasonal-bold {
                color: #d89ba8;
            }
        }

        &.blue {

            .nitro-seasonal-box{
                border-image-source: url('@/assets/flash/purse/seasonal_bg_blue.png');
            }

            .seasonal-bold {
                color: #95c3e5;
            }
        }

        &.red {

            .nitro-seasonal-box{
                border-image-source: url('@/assets/flash/purse/seasonal_bg_red.png');
            }

            .seasonal-bold {
                color: #ff0004;
            }
        }
    }
}
